<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <main>
      <div class="center">
        <div class="title">Welcome to the <span class="colored">MidTerm Project</span> <%= title %> Page</div><br>
        <div class="sub_title">The <span class="colored">Product Details</span> App</div>
      </div>
    </main>

<% include ../partials/footer.ejs %>


